<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="InputFile"
         connectionString="text.txt"
         providerName="System.IO"/>
    <add name="OutputFile"
         connectionString="createcorcondance.txt"
         providerName="System.IO"/>
  </connectionStrings>
</configuration>